<!doctype html>
<html
    lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Search Music</title>
  </head>

  <body
    style="
        background-image: url('/unicorn frog.png');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
    "
  >
    <!-- Main Body of Page -->
    <div
        class="container"
    >
        <!-- Notifications -->
        <div 
            style="
                background-color: #ff9955;
                border: 4px;
                border-style: solid;
                border-color: #ff5555;
                border-radius: 1em;
                margin: 4px auto;
                margin-bottom: 2px;
                width: 0 auto;
                text-align: center;
            "
            th:if="${(notifications != null) && (notifications.length > 0)}"
        >
            <p th:each="notification: ${notifications}" th:text="${notification}"/>
        </div>

        <!-- Head -->
        <div 
            style="
                background-color: #eeddff;
                margin: 4px auto;
                margin-bottom: 1em;
                width: 100%;
                padding: 4px;
                padding-inline-start: 1em;
                border-radius: 0.5em;
            "
        >
            <a href="/" class="text-dark">
                <h1>
                    Search Music
                </h1>
            </a>
        </div>
        <div
            style="
                position: fixed;
                right: 0;
                top: 0;
                margin: 2px;
                z-index: 100;
            "
        >
            <a 
                href="/login" 
                class="btn btn-outline-primary btn-lg"
                style="
                    background-color: #aaddff;
                "
                th:if="${name} == null"
            >
                Login
            </a>
        </div>
        <div
            style="
                position: fixed;
                right: 0;
                top: 0;
                margin: 2px;
                z-index: 100;
            "
        >
            <a 
                href="/getProfile" 
                class="btn btn-outline-primary btn-lg"
                style="
                    background-color: #aaddff;
                "
                th:if="${name} != null"
                th:text="${name}"
            />
        </div>

        <!-- Search Form -->
        <form
            action="/search"
            method="GET"
        >
            <div class="form-group"
                style="
                    margin: 4px auto;
                    width: 90%;
                    padding: 4px;
                "
            >
                <input
                    class="form-control form-control-lg" 
                    autocomplete="off"
                    type="text" 
                    name="q"
                    id="q"
                    placeholder="♪ Search some song lyrics ♫"
                >
            </div>
        </form>
    </div>
    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>