<!doctype html>
<html
    lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Search Music</title>
  </head>

  <body
    style="
        background-image: url('/unicorn frog.png');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
    "
  >
    <!-- Main Body of Page -->
    <div
        class="container"
    >
    <!-- Notifications -->
    <div 
        style="
            background-color: #ff9955;
            border: 4px;
            border-style: solid;
            border-color: #ff5555;
            border-radius: 1em;
            margin: 4px auto;
            margin-bottom: 2px;
            width: 0 auto;
            text-align: center;
        "
        th:if="${(notifications != null) && (notifications.length > 0)}"
    >
        <p th:each="notification: ${notifications}" th:text="${notification}"/>
    </div>

    <!-- Head -->
    <div 
        style="
            background-color: #E687FF;
            border: 1px;
            border-style: solid;
            border-color: #8E37A6;
            margin: 4px auto;
            margin-bottom: 1em;
            width: 100%;
            padding: 4px;
            padding-inline-start: 1em;
            border-radius: 0.5em;
        "
    >
        <a
            href="/"
            style="
                color: #000000;
            "
        >
            <h1>
                Search Music
            </h1>
        </a>
    </div>
    <div
        style="
            position: fixed;
            right: 0;
            top: 0;
            margin: 2px;
            z-index: 100;
        "
    >
    </div>
    <div
        style="
            position: fixed;
            right: 0;
            top: 0;
            margin: 2px;
            z-index: 100;
        "
    >
        <a 
            href="/login" 
            class="btn btn-lg"
            style="
                background-color: #8E37A6;
                color: #76A626;
                border: 0px;
            "
            th:if="${name} == null"
        >
            Login
        </a>
        <a 
            href="/getProfile" 
            class="btn btn-lg"
            style="
                background-color: #8E37A6;
                color: #76A626;
                border: 0px;
            "
            th:if="${name} != null"
            th:text="${name}"
        />
    </div>

        <!-- Login Form -->
        <div
            style="
                margin: 4px auto;
            "
        >
            <form action="/login" method="POST">
                <div class="form-group"
                    style="
                        background-color: #E687FF;
                        border: 1px;
                        border-style: solid;
                        border-color: #8E37A6;
                        border-radius: 1em;
                        margin: 4px auto;
                        width: 50%;
                        padding: 1em;
                    "
                >
                    <h2>Login</h2>
                    <div class="row">
                        <label
                            for="name"
                            class="col"
                            style="
                                text-align: right;
                                padding: .375rem .75rem;
                            "
                        >
                            Name
                        </label>
                        <input
                            type="text"
                            placeholder="Name"
                            maxlength="20"
                            minlength="3"
                            autocomplete="off"
                            name="name"
                            id="name"
                            class="form-control col-8"
                            style="
                                margin-right: 1em;
                            "
                        />
                    </div>
                    <div
                        align="right"
                    >
                        <button
                            type="submit"
                            class="btn btn-primary"
                            style="
                                background-color: #8E37A6;
                                color: #76A626;
                                border: 0px;
                            "
                        >
                            Login
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Register Form -->
        <div
            style="
                margin: 4px auto;
                margin-top: 1em;
            "
        >
            <form action="/register" method="POST">
                <div class="form-group"
                    style="
                        background-color: #E687FF;
                        border: 1px;
                        border-style: solid;
                        border-color: #8E37A6;
                        border-radius: 1em;
                        margin: 4px auto;
                        width: 50%;
                        padding: 1em;
                    "
                >
                    <h2>Register</h2>
                    <div class="row">
                        <label
                            for="name"
                            class="col"
                            style="
                                text-align: right;
                                padding: .375rem .75rem;
                            "
                        >
                            Name
                        </label>
                        <input
                            type="text"
                            placeholder="Name"
                            maxlength="20"
                            minlength="3"
                            autocomplete="off"
                            name="name"
                            id="name"
                            class="form-control col-8"
                            style="
                                margin-right: 1em;
                            "
                        />
                    </div>
                    <div
                        align="right"
                    >
                        <button
                            type="submit"
                            class="btn btn-primary"
                            style="
                                background-color: #8E37A6;
                                color: #76A626;
                                border: 0px;
                            "
                        >
                            Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>